/* General style for pages */
.main_body {
    background-color: white;
    width: 70%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }

.vl {
    border-left: 3px solid rgb(108, 117, 125);
    height: 200px;
}

.form-container {
    margin: auto;
}

.logo {
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Extraction Page */
.row-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#slider-container {
    flex: 1;
    margin-right: 20px;
}

#graph-container {
    flex: 1;
}

#ontology-graph-container {
    width: 100%;
}

#xes-container {
    width: 100%;
}

#textbox-container textarea {
    margin-top: 28px;
    width: 100%;
    height: 100%;
    resize: none; 
    border:1px solid #bbb;
    box-sizing: border-box; 
  }

/* Style for tables */

.dataframe { width: 100%; border-collapse: collapse; font-family: Arial, sans-serif; }
.dataframe th, .dataframe td { padding: 8px; text-align: center; }
.dataframe thead { background-color: #c2c0c0; }
.dataframe tbody tr:nth-child(even) { background-color: #f9f9f9; }
.dataframe tbody tr:nth-child(odd) { background-color: #f9f9f9; }
.dataframe tbody tr:hover { background-color: #f0f0f0; }


/* Style for the slider */
#slider {
    width: 100%;
  }

#slider-container {
    position: relative;
}

#slider-value-display {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    }
